# Rob, you make this file March 29, 2021
# Best to add vi mode stuff in the inputrc file rather then bash so vi mode
# keybindings work in all terminal applicatiions other then just bash.

set editing-mode vi

# This is for changing the prompt in bash when using vim editing
set show-mode-in-prompt on
# Set the thingys showing insert and command mode without color
# set vi-ins-mode-string "+"
# set vi-cmd-mode-string ":"

# set the mode indicators with color
# used a unicode arrow symbol for insert mode
# note: left a space in cmd mode so no symbol shows
set vi-ins-mode-string \1\e[32;1m\2↳\1\e[0m\2
set vi-cmd-mode-string \1\e[37;1m\2 \1\e[0m\2


#----- Some mappings -----
$if mode=vi
    set keymap vi-insert
    "jk": vi-movement-mode
    "kj": vi-movement-mode
    Control-l: clear-screen
    set keymap vi-command
    Control-l: clear-screen
$endif
